@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
body{
    direction: rtl;
    text-align: right;
    font-family: 'Droid Arabic Kufi', sans-serif;
}
.left_col{
    right: 0;
}
.nav_title .logo{
    margin-right: 20px;
}

.right_col{
    margin-left: auto !important;
    margin-right: 230px;
    min-height: 513px;
}

@media (min-width: 768px) {
  footer {
    margin-left: auto !important;
    margin-right: 230px;
  }
}



.main_menu span.fa{
    float: left;
}

.nav-md ul.nav.child_menu li:before{
    left: 0;
    right: 23px;
}
.nav-md ul.nav.child_menu li:after{
    border-left: 0;
    border-right: 1px solid #425668;
    left: 0;
    right: 27px;
}

.nav.child_menu li{
    padding-left: 0;
    padding-right: 36px;
}


.hero-widget{
    text-align: center;
    height: 150px;
    background-color: #fff;
    cursor: pointer;
}
.hero-widget:hover{
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.hero-widget .title{
    height: 95px;
    line-height: 95px;
    text-align: center;
}

.hero-widget .title i{
    font-size: 85px;
}

.hero-widget .title h4{
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    color: #556175 !important;
}
.col-md-55, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    float: right;
}

.nav_title i{
    margin-right: 5px;
    margin-left: 10px;
}
.top_nav .navbar-right{
    margin-left: 0 !important;
    margin-right: 0 !important;
    float: left;
}
.top_nav .navbar-right li{
    float: left;
}

.navbar-nav .open .dropdown-menu{
    left: 0 !important;
    right: auto !important;
}

.main_container .top_nav{
    margin-left: 0;
    margin-right: 230px;
}
.nav-sm .main_container .top_nav
{
    margin-right: 70px;
    margin-left: 0;
}

.nav-sm .container.body .right_col{
    margin-left: 0;
    margin-right: 70px;
}
.toggle{
    float: right;
}

.nav.side-menu> li.current-page, .nav.side-menu> li.active{
    border-right: 0;
    border-left: 5px solid #1ABB9C;
}
.nav-sm .nav.child_menu li.active, .nav-sm .nav.side-menu li.active-sm{
    border-right: 0;
    border-left: 5px solid #1ABB9C;
}

.nav-sm ul.nav.child_menu {
    right: 100%;
}

.nav-sm ul.nav.child_menu li a{
    text-align: right !important;
}

.col-sm-12{
    width: 100%;
}